<div class="my-6 lg:my-12 container px-6 mx-auto flex flex-col md:flex-row items-start md:items-center justify-between pb-4 border-b border-gray-300">
  <h1 class="text-2xl md:text-3xl my-2 font-sans font-bold border-gray-800  dark:text-gray-200">
    Ajouter un client
  </h1>
  <div class="mt-6 md:mt-0">
    <a routerLink="/customers" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
      <svg class="-ml-0.5 mr-1.5 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path d="M12.232 4.232a2.5 2.5 0 0 1 3.536 3.536l-1.225 1.224a.75.75 0 0 0 1.061 1.06l1.224-1.224a4 4 0 0 0-5.656-5.656l-3 3a4 4 0 0 0 .225 5.865.75.75 0 0 0 .977-1.138 2.5 2.5 0 0 1-.142-3.667l3-3Z" />
        <path d="M11.603 7.963a.75.75 0 0 0-.977 1.138 2.5 2.5 0 0 1 .142 3.667l-3 3a2.5 2.5 0 0 1-3.536-3.536l1.225-1.224a.75.75 0 0 0-1.061-1.06l-1.224 1.224a4 4 0 1 0 5.656 5.656l3-3a4 4 0 0 0-.225-5.865Z" />
      </svg>
      Listes des clients
    </a>
  </div>
</div>

<form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="max-w-xl mx-auto">
  <!-- Name -->
  <div class="mb-5">
    <label for="customer-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom de client</label>
    <input type="text" id="customer-name" formControlName="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
    @if (submitedForm() || (addForm.get('name')?.errors && (addForm.get('name')?.touched || addForm.get('name')?.dirty))) {
      @if (form["name"].hasError("required")) {
        <small class="text-red-700">Veuillez saisir votre adresse e-mail</small>
      }
    }
  </div>
  <!-- address -->
  <div class="mb-5">
    <label for="customer-address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Adresse</label>
    <textarea id="customer-address" formControlName="address" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"></textarea>
    @if (submitedForm() || (addForm.get('address')?.errors && (addForm.get('address')?.touched || addForm.get('address')?.dirty))) {
      @if (form["address"].hasError("required")) {
        <small class="text-red-700">Veuillez saisir votre l'adresse</small>
      }
    }
  </div>
  <!-- Phone -->
  <div class="mb-5">
    <label for="customer-phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numéro de téléphone</label>
    <input type="number" id="customer-phone" formControlName="phone" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="12-345-678"/>
    @if ((submitedForm() && form["phone"].value !== null) || (form["phone"].value !== null && (addForm.get('phone')?.touched || addForm.get('phone')?.dirty))) {
      @if (addForm.get('phone')?.hasError("invalidPhone")) {
        <small class="text-red-700">Numéro de téléphone est invalide</small>
      }
    }
  </div>
  <!-- Email -->
  <div class="mb-5">
    <label for="customer-email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Adresse e-mail</label>
    <input type="text" id="customer-email" formControlName="email" (keydown.space)="$event.preventDefault();" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="adresse@email.com"/>
    @if ((submitedForm() && form["email"].value) || (form["email"].value && (addForm.get('email')?.touched || addForm.get('email')?.dirty))) {
      @if (addForm.get('email')?.hasError("invalidEmail")) {
        <small class="text-red-700">Adresse e-mail est invalide</small>
      }
    }
  </div>
  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button (click)="resetForm()" type="button" class="text-sm/6 font-semibold text-gray-900">Annuler</button>
    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Enregistrer</button>
  </div>
</form>
