<!-- sidebar -->
<div class="hidden h-full md:flex flex-col w-64 bg-gray-800">
  <div class="flex items-center justify-center h-16">
    <div class="flex flex-shrink-0 items-center">
      <a routerLink="/dashboard"><img class="h-8 w-auto cursor-pointer" src="img/logo.png" alt="Logo"></a>
    </div>
  </div>
  <div class="flex flex-col flex-1 overflow-y-auto">
    <nav class="flex-1 px-2 py-4 bg-gray-800">
      @for (route of dashboardRoutes; track route) {

          <a routerLink="{{route.path}}"
             class="flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700">
            <mat-icon>{{route.icon}}</mat-icon>
            <span class="ms-3">{{route.label}}</span>
          </a>
      }
    </nav>
  </div>
</div>
